/*
Author:Payton Sprague
Date:1/11/2024
File Name:apply08.css 
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}

/*Style rule for caption */
caption{
	font-size: 2em;
	padding: 2%;
	margin: 2%;
}

/* Style rule for table */
table{
	width: 80%;
	margin: 0 auto;
	border: 3px solid #71881b;
}

/* Style rule for table, tr, th, td */
table, tr, th, td{
	padding: 2%;
	border-collapse: collapse;
}


/* Style rule for th, td */
th, td{
	border: 1px solid #7188bb;
}

/* Style rule for td */
td{
	text-align: center;
}

/* Style rule for tr */
tr:nth-child(odd){
	background-color: #d3e788;
}




